@define-color base   #212121;
@define-color crust   #212121;
@define-color text   #585b70;
@define-color yellow #ffcb6b;
@define-color lime   #c3e88d;
@define-color grey   #b2ccd6;

@define-color green     #a6e3a1;
@define-color red       #f38ba8;

* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", "Hack Nerd Font", FontAwesome, Roboto, sans-serif;
  font-size: 14px;
}

window#waybar {
  color: @text;
  background: @base00;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.empty {
  opacity: 0.3;
}

.modules-left {
    border: none;
}

.modules-right {
  border: none;
}

.modules-center {
  border: none;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: @base;
  border-radius: 90px;
}

#custom-power {
  color: @yellow;
  font-weight: 600;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 19px;
  border-radius: 90px;
  background: @crust
}

#workspaces {
  font-weight: 600;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 90px;
  background: @crust
}

#workspaces button {
  color: @yellow;
    font-weight: 600;
        margin: 0px;
        padding: 0px 5px;
}

#workspaces button.urgent {
  color: @red;
}
#workspaces button.empty {
  color: @text;
}

#workspaces button.active {
  color: @lime;
}

#workspaces button.focused {
  color: @yellow;
}

#cpu,
#memory,
#pulseaudio,
#custom-notification,
#disk {
  color: @grey;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @crust
}

#tray {
  color: @text;
  font-weight: 600;
  padding: 6px 15px;
  border-radius: 90px;
  background: @crust
}

#clock {
  color: @grey;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @crust
}

#custom-sepp {
  color: @text;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 10px;
}
