@define-color base   #212121;
@define-color crust  #212121;
@define-color mantle #303030;
@define-color white  #eeffff;
@define-color text   #585b70;
@define-color yellow #ffcb6b;
@define-color lime   #c3e88d;
@define-color grey   #b2ccd6;
@define-color green  #a6e3a1;
@define-color red    #f38ba8;

* {
  min-height: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 13px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: transparent;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#custom-power, #workspaces, #cpu, #memory, #pulseaudio, #custom-notification,
#network, #temperature, #privacy, #battery, #custom-wan, #disk, #window,
#tray, #clock {
    background: @crust;
    border: 1px solid @mantle;
    border-radius: 12px;
    margin: 0 6px 0 0;
    padding: 5px 12px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#custom-power:hover, #cpu:hover, #memory:hover,
#pulseaudio:hover, #custom-notification:hover, #network:hover,
#temperature:hover, #privacy:hover, #battery:hover, #custom-wan:hover,
#disk:hover, #window:hover, #tray:hover, #clock:hover {
  background: @mantle;
}

#custom-power {
  color: @yellow;
  padding: 5px 15px 5px 12px;
}

#window,
#tray {
  color: @white;
}

#cpu, #memory, #pulseaudio, #custom-notification, #network,
#temperature, #privacy, #battery, #custom-wan, #disk {
  color: @grey;
}

#clock {
  color: @grey;
  font-weight: 700;
}

#workspaces {
  padding: 4px 8px;
}

#workspaces button {
  color: @yellow;
  font-weight: 600;
  margin: 0;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 0 4px;
}

#workspaces button:hover {
  background-color: @mantle;
  border-radius: 8px;
}

#workspaces button.active {
  color: @text;
  background-color: @lime;
  border-radius: 8px;
}

#workspaces button.urgent { color: @red; }
#workspaces button.empty { color: @text; }
#workspaces button.focused { color: @yellow; }

window#waybar.empty #window {
    background-color: transparent;
    border-color: transparent;
}

#custom-sepp {
  color: @text;
  font-size: 20px;
  padding: 0 10px 0 4px;
}

tooltip {
  background-color: @crust;
  border: 1px solid @mantle;
  border-radius: 12px;
  padding: 10px;
}

tooltip label {
  color: @white;
}
